{% extends "base.html" %}
{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>تغییر رمز عبور</h2>

    <form method="post">
        {% csrf_token %}

        <div class="auth-field">
            <label>رمز عبور فعلی</label>
            {{ form.old_password }}
        </div>

        <div class="auth-field">
            <label>رمز عبور جدید</label>
            {{ form.new_password1 }}
        </div>

        <div class="auth-field">
            <label>تکرار رمز عبور جدید</label>
            {{ form.new_password2 }}
        </div>

        <button class="auth-submit">ذخیره</button>
    </form>
</div>
{% endblock %}
