{% extends "base.html" %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h2>بازیابی رمز عبور</h2>

    <p style="font-size: 0.85rem; color: var(--muted)">
        ایمیلت رو وارد کن تا لینک بازیابی برات ارسال بشه
    </p>

    <form method="post">
        {% csrf_token %}
        <div class="auth-field">
            <label>ایمیل</label>
            {{ form.email }}
        </div>

        <button class="auth-submit">ارسال لینک</button>
    </form>
</div>
{% endblock %}
